<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/prettify.js"></script>                                   <!-- PRETTIFY -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/kickstart.js"></script>                                  <!-- KICKSTART -->

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style1.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style2.css" media="all" />

</head>
<body>
<header>
    <div id="encabezado">
        Judge 2012
    </div>

</header>


<div id="mensaje-exito">
    Se ha registrado con exito <h3>{{ user.first_name}}</h3><br>
    Ahora puede <a href="{%  url vista_login %}">iniciar sesión</a>

</div>




</body>
</html>
