{% extends 'base.html' %}
{% block title %}
    Judge
{% endblock %}

{% block vistaUsuario %}
    {% if not user.is_anonymous %}
        {{ user.first_name }}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="table_problems">
        <table class="sortable" cellspacing="0" cellpadding="0">
            <thead><tr>
                <th width ='30'>Resultado</th>
                <th>ID</th>
                <th>Problema</th>
                <th>Ver</th>
            </tr></thead>
            <tbody><tr>
                <td></td>
                <td>0001</td>
                <td>Hola Mundo</td>
                <td><a href=""><img src="{{ STATIC_URL }}images/pdf_icon.gif"></a></td>
            </tr><tr>
                <td></td>
                <td>0002</td>
                <td>Problema2</td>
                <td><a href=""><img src="{{ STATIC_URL }}images/pdf_icon.gif"></a></td>
            </tr><tr>
                <td></td>
                <td>0003</td>
                <td>Problema3</td>
                <td><a href=""><img src="{{ STATIC_URL }}images/pdf_icon.gif"></a></td>
            </tr><tr>
                <td></td>
                <td>0004</td>
                <td>Problema4</td>
                <td><a href=""><img src="{{ STATIC_URL }}images/pdf_icon.gif"></a></td>
            </tr></tbody>
        </table>
    </div>
{% endblock %}